 /* css reset */
 * {
     margin: 0;
     padding: 0;
 }




 /* end of css */

/* hamburger menu */

label {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-color: rgb(250, 250, 250);
 }
 
 .slide {
    height: 100vh;
    width: 30%;
    right: 0px;
    position:fixed;
    background-color: var(--blue);
    transition: 0.5s ease;
    transform: translateX(100%);
    opacity: 90%;
    background-color:rgb(53, 129, 159);
 }
 
 #nav-h3 {
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 10px 0;
    padding-left: 20px;
    pointer-events: none;
 }
 
 
 #nav-ul {
    list-style: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 100%;
    text-decoration: none;
 }

 #nav-ul li {
    display: block;
    float: none;
 }
 
 #nav-ul li:hover a {
    color: rgb(245, 241, 241);
    font-size:2rem;
    text-decoration: none;
    font-family: regular;
    font-weight: 30px;
    transition: .3s;
 } 
 
 #nav-ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: regular;
    padding: 5px 0;
    display: block; 
    flex-direction: column;

 }
 
 #nav-ul li a i {
    width: 40px;
    text-align: center;
    font-size: 20px;
    font-family: regular;
    padding-left: 20px;
 }
 
 .toggle {
    position: fixed;
    height: 30px;
    width: 40px;
    top: 18px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }

 input{
    display: none;
    visibility: hidden;
 }
 
 .toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color:white;
    border-radius: 50px;
    transition: 0.3s ease;
 }
 
 .toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 .toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 .toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
 }
 
 input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);   
 }
 
 input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);    
 }
 
 input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(166, 167, 164, 0.5);
 }

/* end hamburger */


 body {
     overflow-x: hidden;
 }

 /* stylish portfolio */
 #hero {
     height: 90vh;
     background-image: url(../images/yellow-background-pencil-designer.jpg);
     background-repeat: no-repeat;
     background-position: left top;
     background-size: cover;
     text-align: center;
     color: rgba(36, 35, 35, 0.9);
 }

 #stylish-portfolio h1 {
     font-size: 65px;
     color: rgba(36, 35, 35, 0.9);
     padding-top: 150px;
 }

 #hero p {
     font-size: 30px;
     font-style: italic;
 }

 #hero button {
     background-color: rgba(53, 129, 159);
     border-radius: 5px;
     margin-top: 50px;
     padding: 15px;
     font-size: 14px;
     font-family: bold !important;
     color: rgb(255, 255, 255);
     border: none;
     width: 150px;
 }

 #hero button:hover {
     color: black;
 }

 /* end of stylish portfolio */

 /* about */
 #about {
     height: 40vh;
     text-align: center;
 }

 #about h2 {
     font-size: 20px;
     padding-top: 60px;
     padding-bottom: 5px;
     font-family: bold;
     color: rgba(36, 35, 35, 0.9);
 }

 #About p {
     font-family: regular;
     color: rgba(36, 35, 35, 0.9);
 }

 #about button {
     background-color: rgba(36, 35, 35);
     border-radius: 5px;
     margin-top: 30px;
     font-size: 14px;
     padding: 15px;
     font-family: bold;
     color: rgba(255, 255, 255);
     width: 150px;
     border: none;
 }

 #about button:hover {
     color: black;
     background-color: rgba(53, 129, 159);
 }

 /* end of about */

 /*media queries*/
 /* ipad mini*/

 /*hero*/
 @media(max-width:768px) {
     #hero {
         height: 60vh;
     }

     #hero #stylish-portfolio h1 {
         padding-top: 50px;
     }

     #hero p {
         font-size: 16px;
     }

     /*end of hero*/

     /*about*/
     #About {
         height: 40vh;
         padding-top: 120px;
     }

     #About h2 {
         font-size: 25px;
     }

     #About p {
         font-size: 12px;
     }

     /*   */

 }

 /*end of about*/
 /*end of ipad mini*/

 @media(max-width:414) {
     #services h4{
         height: 40vh;
         background-position: bottom right;
     }

     #h3 {
         font-size: 40px;
     }

     #services-inner {
         font-size: 16px;
     }

     /*end of services*/

     #h2 {
         height: 40vh;
         padding-top: 15px;
     }


     #p {
         font-size: 16px;
     }
 }

 /* services */
 #services {
     height: 90vh;
     background-color: rgba(53, 129, 159);
     color: rgba(255, 255, 255);
 }

 #services h4 {
     color: rgb(207, 166, 29);
     text-align: center;
     font-size: 20px;
     margin-top: 10px;
     padding-bottom: 1px;
 }

 #services h3 {
     text-align: center;
 }

 #services-inner {
     text-align: center;
     display: flex;
     justify-content: space-evenly;
 }

 #services-inner h2 {
     margin-top: 90px;
 }

 #services-inner p {
     margin-bottom: 90px;
 }

 #services-inner i{
    background-color: aliceblue;
    clip-path: circle(50%);
    width: 120px;
    height: 90px;
    padding-top: 30px;
 }
 /* end of services */

 /* next web */
 #next-web {
     height: 100vh !important;
     background-image: url(../images/IMG-20240409-WA0022.jpg);
     background-position: no-repeat;
     background-size: cover;
     text-align: center;
 }

 #next-web button {
     font-size: 15px;
     background-color: rgba(53, 129, 159);
     color: rgba(255, 255, 255);
     padding: 15px;
     margin-top: 250px;
     border: none;
 }

 #next-web h2 {
     padding: 60px;
 }

 #next-web button:hover {
     color: rgb(0, 0, 0);
 }

 /* end of next web */

 /* projects */
 #portfolio {
    padding-top: 100px;
     height: 150vh;
     background-color: rgba(255, 255, 255);
     font-family: regular;
     text-align: center;
     padding: 100px;
 }

 #portfolio h4 {
     color: rgb(207, 166, 29);
     font-size: 16px;

 }

 #portfolio h3 {
     font-size: 12px;
     font-family: regular;
     color: rgb(255, 255, 255);
     margin-top: 170px;
     margin-bottom: 30px;
 }

 #portfolio h2 {
     color: rgba(36, 35, 35, 0.9);
     font-size: 30px;
     font-family: bold;
     padding-bottom: 80px;
 }

 #portfolio p {
     color: rgba(255, 255, 255);
     font-size: 10px;
     font-family: regular;
     opacity: 0;
 }

 #portfolio .content {
     display: flex;
     justify-content: center;
     cursor: pointer;
 }


 #content-inner1 {
     background-image: url(../images/envelopes.jpg);
     width: 28%;
     height: 35vh;
     background-size: cover;
     background-position: left top;
     padding: 60px;
     text-emphasis: none;
     cursor: pointer;
 }

 #content-inner1:hover h3{
     opacity: 0;
 }

 #content-inner1:hover h3{
     opacity: 1;
 }

 #content-inner1 p{
     font-size: 20px;
 }

 #content-inner1 h3 {
     font-size: 15px;
     opacity: 0;
 }

 #content-inner1 h3:hover {
     opacity: 1;
 }

 #content-inner1:hover {
     transform: scale(1.2);
     transition: 0.3s;
 }

 /* */
 #content-inner2 {
     background-image: url(../images/scissors2.jpg);
     width: 28%;
     height: 35vh;
     background-size: cover;
     background-position: left top;
     padding: 60px;
     text-emphasis: none;
     cursor: pointer;
 }


 #content-inner2 {
     background-image: url(../images/pencil.jpg);
     width: 28%;
     height: 35vh;
     background-size: cover;
     background-position: left top;
     padding: 60px;
     text-emphasis: none;
     cursor: pointer;
 }

 #content-inner2 p:hover {
     opacity: 1;

 }

 #content-inner2 h3 {
     font-size: 15px;
     opacity: 0;
 }

 #content-inner2 h3:hover {
     opacity: 1;
 }

 #content-inner2:hover {
     transform: scale(1.2);
     transition: 0.3s;
 }


 #content-inner3 {
     background-image: url(../images/strawberry.PNG);
     width: 28%;
     height: 35vh;
     background-size: cover;
     background-position: left top;
     padding: 60px;
     text-emphasis: none;
     cursor: pointer;
 }

 #content-inner3 p:hover {
     opacity: 1;
 }

 #content-inner3 h3 {
     font-size: 15px;
     opacity: 0;
 }

 #content-inner3 h3:hover {
     opacity: 1;
 }

 #content-inner3:hover {
     transform: scale(1.2);
     transition: 0.3s;
 }

 #content-inner4 {
     background-image: url(../images/yellow-background-pencil-designer.jpg);
     width: 28%;
     height: 35vh;
     background-size: cover;
     background-position: left top;
     padding: 60px;
     text-emphasis: none;
     cursor: pointer;
 }

 #content-inner4 p:hover {
     opacity: 1;
 }

 #content-inner4 h3 {
     font-size: 15px;
     opacity: 0;
 }


 #content-inner4:hover {
     transform: scale(1.2);
     transition: 0.3s;
 }


 #content-inner4 p:hover {
     opacity: 1;

 }

 #content-inner4 h3 {
     font-size: 15px;
     opacity: 0;
 }


 #content-inner:hover {
     transform: scale(1.2);
     transition: 0.3s;
 }



 /* end of projects  */

 /* connect */
 #connect {
     height: 40vh;
     background-color: rgba(53, 129, 159);
     text-align: center;
     background-image: cover;
 }

 #connect p {
     font-family: bold;
     font-size: 30px;
     padding-top: 70px;
     padding-bottom: 15px;
 }

 #connect-one {
     text-decoration: none;
     color: rgba(36, 35, 35, 0.9);
     background-color: rgb(255, 255, 255);
     font-size: 18px;
     font-family: regular;
     padding: 14px;
     width: 140px;
     border-radius: 5px;
     border: none;
 }

 #connect-one:hover {
     background-color: rgba(53, 129, 159);
 }

 #connect-two {
     text-decoration: none;
     color: rgb(255, 255, 255);
     background-color: rgba(0, 0, 0);
     font-size: 15px;
     font-family: regular;
     padding: 15px;
     width: 140px;
     border-radius: 5px;
     border: none;
     margin-left: 20px;
 }

 #connect-two:hover {
     color: rgb(0, 0, 0);
     background-color: rgba(53, 129, 159);
 }

 /* end of connect */

 /* map */
 .google-map {
     padding-bottom: 30%;
     position: relative;
 }

 .google-map iframe {
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
     background-image: cover;
 }

 /*end of map*/
 /*end of connect*/



 /*footer*/

 #footer {
     height: 10vh;
     text-align: center;
     color: rgba(0, 0, 0);
 }

 #footer-inner {
     width: 100%;
     padding-top: 30px;
     align-self: center;
 }

 #footer .inner i{
    padding-top: 70px;
    margin: 7px;
 }

 ul {
     display: flex;
     justify-content: center;
     align-content: none;
     list-style: none;
     color: rgba(0, 0, 0);
 }

 #footer-inner li {
     margin: 20px;
 }

#footer- img{
    width: 14%;
    margin-left: 2%;
    border-left-color: rgb(255, 255, 255);
    border-right-color:rgb(255, 255, 255) ;
    border-bottom-color: rgb(255, 255, 255) ;
    border-top-color:rgb(255, 255, 255);
    border: 10px;
    border-radius: 10px;
  }
  

 #copyright p {
     text-align: center;
 }

 #footer h4 {
     font-size: 10px;
     font-family: regular;
     padding-top: 120px;
 }


 /* iphone XR */
 /* hero */

 @media (max-width:414) {
     #hero {
         height: 90vh;
         background-position: bottom right;
     }

     #hero #stylish-portfolio h1 {
         font-size: 15px;
     }

     #hero p {
         font-size: 16px;
     }

     /* end of hero */

     /* about */
     #about {
         height: 60vh;
         padding-top: 10px;
     }

     #about h2 {
         font-size: 5px;
     }

     #about p {
         font-size: 16px;
     }

     /* end of about */
 }

 

    #hero #stylish-portfolio h1 {
        padding-top: 50px;
        font-size: 25px;

    }

    button{
        font-size: 5px;
    }

    #hero p {
        font-size: 10px;
    }

    /* end of hero */

    /* about */
    #About {
        height: 40vh;
        padding-top: 120px;
    }

    #About h2 {
        font-size: 15px;
    }

    #About p {
        font-size: 12px;
    }

    /* services */

    #Services{
        i{
            font-size: 15px;
        }
       h4{
        font-size: 10px;
       }

       h3{
        font-size: 13px;
       }

    #services-inner{
        height: 10vh;
        align-items: center;
        
        .twin{
            font-size: 10px;

            i{
                font-size: 20px;
                
            }
        }

        h2{
            font-size: 10px;
        }
        p{
            font-size: 8px;
        }
        
    }
    
        h4{
            font-size: 20px;
        }
    
}

/* next web */

#next-web{
    height: 5vh;
    
    h1{
        font-size: 10px;
    }
}

#portfolio{
    h4{
        font-size: 10px;
    }

    
}



/* iphone XR */
/* hero */
@media (max-width:414) {
    #hero {
        height: 40vh;
        background-position: bottom right;
    }

    #hero #stylish-portfolio h1 {
        font-size: 40px;
    }

    #hero p {
        font-size: 16px;
    }

    /* end of hero */

    /* about */
    #About {
        height: 4ovh;
        padding-top: 15px;
    }

    #About h2 {
        font-size: 30px;
    }

    #About p {
        font-size: 16px;
    }
 
    
    #Services{
        i{
            font-size: 15px;
        }
       h4{
        font-size: 10px;
       }

       h3{
        font-size: 13px;
       }

    #services-inner{
        height: 10vh;
        align-items: center;
        
        .twin{
            font-size: 10px;

            i{
                font-size: 20px;
                
            }
        }

        h2{
            font-size: 10px;
        }
        p{
            font-size: 8px;
        }
        
    }
    
        h4{
            font-size: 20px;
        }
    
}

}



/* services *